.registr{
    background-color: $bg-blue-default;
    text-align: center;
    padding: 50px 0px;

    &__block{
        margin: 0 auto;
        display: block;
        text-align: center;
        background-color: $bg-white;
        border-radius:5px;
        margin-top: 40px
    }
    &__title{
        @include font(600,26px);
        color: $text-blue-default;
    }

    &__check{
        width: 25px;
        height: 25px;
        
    }
    .flex{
        width: 430px;
        height: 40px;
    }
 
    &__label{
        @include font(400,16px);
    }
   
    &__cart{
        margin-top: 60px;
        background-color: $bg-blue-dark;
        padding: 50px 0px;
        border-radius: 5px;
    }
    &__move{
        display: flex;
    }
    &__input {
        @include font(400, 16px);
        color: black;
        padding: 10px 50px;
        border-radius: 7px;
        background-color: $bg-white;
        border: none;

      }
      &__box {
          display: flex;
          justify-content: space-between;
        width: 470px ;
        padding: 13px;
        border-radius: 5px;
        background-color: $bg-blue-default;
        margin-top: 28px;
       margin-left:35px;
      }
      .second{
          margin-top: 30px;
       width: 1000px;
      }
      &__span{
        @include font(400, 16px);
        color:$text-white;
       margin: 15px 20px;
      }
      .sec{
        padding: 10px 300px; 
      }
      &__sience{
          
          background-color: $bg-blue-default;
          width: 645px;
          margin: 30px auto;
          padding: 30px;
        border-radius: 5px;

      }
      &__line{
        display: flex;
        justify-content: space-between;
      }
      &__check1{
        width: 25px;
        height: 25px;
       
    }
    &__blocks{
        background-color: $bg-white;
        width: 226px;
        border-radius: 5px;
        margin: 20px 25px; 
        display: flex;
        align-items: center
    }
    &__label1{
        @include font(400,16px);
        padding: 13px;
    }
    .left{
        margin-left: 200px;
    }
    &__copybook{
        width: 1000px;
        height: 200px;
        margin-top: 60px;
        border-radius: 7px;
    }
    &__button{
        width: 300px;
        height: 100px;
        background-color: $bg-white;
        border-radius: 5px;
        border: none;
        @include font(500,26px);
        transition: 0.3s;
        margin-top: 60px;
       
    }
    &__button:hover{
        transition: 0.3s;
        box-shadow: 0px -3px 28px #FFFFFF;
    }
}