$bg-blue-default: #303B9B;
$bg-blue-gray: #AAA9CABA;
$bg-blue-dark: #2A185F;
$bg-blue-darkness: #2E3051;
$bg-white: #FFFFFF;

$text-blue-default: #303B9B;
$text-white: #FFFFFF;
$text-black-default: #000000;